@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-colour-rgb: 0, 0, 0;
  --primary: rgb(33, 41, 54)

  /* Hex Code */
  --main-colour: hex(#000000);

}

/* Firefox */
*{
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
/*
*::-webkit-scrollbar {
  width: 15px;
}
*/

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 14px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-colour-rgb: 255, 255, 255;
  }
}
