@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-colour-rgb: 0, 0, 0;
  --primary: rgb(33, 41, 54)

  /* Hex Code */
  --main-colour: hex(#000000);

}

/* Firefox */
*{
  scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
/*
*::-webkit-scrollbar {
  width: 15px;
}
*/

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 14px;
}

#cardContent {
  height: 175px
}


@keyframes pop-out {
  0% {
      transform: translateY(-100%) translateX(-50%);
      opacity: 0;
  }
  100% {
      transform: translateY(0) translateX(-50%);
      opacity: 1;
  }
}

.animate-pop-out {
  animation: pop-out 1s ease-out forwards;
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(220, 38, 38, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(220, 38, 38, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(220, 38, 38, 0);
  }
}

.pulse-red {
  animation: pulse-red 1.5s infinite;
  background-color: #dc2626; /* Tailwind's red-600 */
  color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-colour-rgb: 255, 255, 255;
  }
}
