@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-colour-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-colour-rgb: 255, 255, 255;
  }
}

body {
  background: rgb(var(--main-colour-rgb)); 
}


@import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);

.active\:bg-gray-50:active {
  --tw-bg-opacity:1;
  background-color: rgba(249,250,251,var(--tw-bg-opacity));
}